@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: 'SF Pro Display', sans-serif;
}

input:focus,
textarea:focus,
select:focus,
a:focus {
    outline: none;
}

@font-face {
    font-family: TT;
    src: url(../src/font/TT\ Travels\ Trial\ Regular.otf);
}

html footer {
    font-family: TT;
}
